@media screen and (max-width: 500px) {

    .pattern-bottom {
        position: absolute;
        left: 195px;
        top: 163px;
        transform: rotate(0deg);
        z-index: -1;
        overflow-y: hidden;
    }

    footer { padding: 0 0 20px 0; }
}

@media screen and (max-width: 400px) {

    .pattern-bottom {
        position: absolute;
        left: 195px;
        top: 163px;
        transform: rotate(0deg);
        z-index: -1;
        overflow: hidden;
    }
}

@media screen and (max-width: 375px) {

    .pattern-bottom {
        position: absolute;
        left: 195px;
        top: 163px;
        transform: rotate(0deg);
        z-index: -1;
        overflow: hidden;
    }
}